#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Wed Dec 28 17:28:14 CET 2022
enableMiddleClick=true
showChestButtons=true
enableSortingOnPickup=false
enableAutoRefill=true
enableSounds=true
enableShortcuts=true
enableAutoEquipArmor=true
shortcutKeyAllItems=LCONTROL+LSHIFT, RCONTROL+RSHIFT
shortcutKeyEverything=SPACE
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyToUpperSection=UP
shortcutKeyToLowerSection=DOWN
shortcutKeyDrop=LALT, RALT
version=1.41b
