#MLProperties: name (type:default) min:max -- information
#MLProp : wrongPlace (int:1,>=1.0) -- You're looking in the wrong place for the mod's properties file. Check /mods/portalgun/ for mod_PortalGun.properties
#
#Wed Dec 28 17:28:12 CET 2022
checksum=1
wrongPlace=1
