#MLProperties: name (type:default) min:max -- information
#MLProp : wrongPlace (int:1,>=1.0) -- You're looking in the wrong place for the mod's properties file. Check /mods/portalgun/ for mod_PortalGun.properties
#
#Fri Aug 01 09:24:07 EDT 2025
checksum=1
wrongPlace=1
